@mixin animateMissile($name-modifier, $colour) {
    @keyframes missile-#{$name-modifier} {
        0% {
            outline-style: solid;
            outline-width: 2px;
            outline-color: $colour;
        }
        50% {
            outline-width: 5px;
        }
        100% {
            outline-width: 0;
        }
    }
}

@mixin squishy() {
    @keyframes squishy {
        0% {
            opacity: 1;
            transform: unset;
        }
        25% {
            transform: skewX(30deg);
        }
        50% {
            opacity: 0.8;
            transform: skewX(0deg);
        }
        75% {
            transform: skewX(-30deg);
        }
        100% {
            opacity: 1;
            transform: unset;
        }
    }
}

@mixin spinForward() {
    @keyframes spin-forward {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

@mixin spinBackward() {
  @keyframes spin-backward {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}