@use "variables" as v;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

$ships: (patrol-boat: 2, submarine: 3, battleship: 4, carrier: 5);

@mixin portSizes() {
    @each $type, $size in $ships {
        &.#{$type} {
            width: calc($size * var(--cell-length) + ($size - 1) * v.$ocean-grid-gap - 2px);

            > .ship--portrait {
                height: calc($size * var(--cell-length) + ($size - 1) * v.$ocean-grid-gap - 2px);
            }
        }
    }
}

@mixin deployedShips() {
    @each $type, $size in $ships {
        &.#{$type}--landscape {
            width: calc(100% * $size + v.$ocean-grid-gap * ($size - 1));
            height: 100%;
        }
        &.#{$type}--portrait {
            width: 100%;
            height: calc(100% * $size + v.$ocean-grid-gap * ($size - 1));
            flex-direction: column;
        }
    }
}