@use "partials/mixins" as m;
@use "partials/animations" as a;

@include a.spinForward();
@include a.spinBackward();

#aside-wrapper {
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-width: fit-content;
}

#banner-bkg-img-wrapper {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    > img {
        transform-origin: top left;
        transform: rotate(90deg) scale(0.8, 0.4) translateY(-60%);
    }
}

#banner-content-wrapper {
    height: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);

    button {
        cursor: pointer;
        padding: 5px 8px;
        border: 1px solid black;
        border-radius: 3px;
        display: block;
        font-weight: bold;
        color: #fff;
    }
}

#banner-btns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

#btn-rules {
    background: linear-gradient(to bottom, #f90, #e63900 100%);
    overflow: hidden;
    position: relative;

    &::after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.7;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
    }

    &:hover {
        filter: brightness(1.2);
    }

    &:hover::after {
        left: 120%;
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

#btn-restart, #btn-settings {
    background: linear-gradient(to bottom, #4da6ff, #0073e6 100%);

    &:hover {
        filter: brightness(120%);
    }
}

#btn-start {
    background: linear-gradient(to bottom, #00e68a, #00994d 100%);

    &:disabled {
        cursor: not-allowed;
        filter: grayscale(90%);
        opacity: 0.75;
    }

    &:hover:not(:disabled) {
        filter: brightness(120%);
    }
}

#prestart-txt {
    font-size: 1.2rem;
    font-style: italic;
    text-align: center;
}

.current-settings {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin: 10px auto;

    h3 {
        margin: 5px auto;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-size: 1.7rem;
    }

    &__name {
        font-size: 1.3rem;
    }

    &__value {
        font-size: 1.4rem;
        margin-top: 5px;
        display: inline-block;
        font-style: italic;
    }
}

.menu-toggle{
    display: none;

    &__gear {
        cursor: pointer;

        > svg {
            font-size: 4rem;
            background: radial-gradient(#ffbd5a, #f90 55%, #710101 100%);
            padding: 5px;
            border-radius: 50%;
            margin: 25px 10px 25px 25px;
        }

        &.spin-close > svg {
            animation: spin-backward 1s ease-in-out forwards;
        }
        
        &.spin-open > svg {
            animation: spin-forward 1s ease-in-out forwards;
        }
    }

    &__note {
        font-size: 1.6rem;
        display: inline-block;
        font-weight: bold;
    }
}

@media screen and (orientation: portrait){
    aside {
        position: absolute;
        z-index: 10;
        transition: all 1s ease-in-out;
    }

    #banner-content-wrapper {
        padding-top: 10rem;
    }

    .menu-toggle{
        z-index: 20;
        position: absolute;
        @include m.flexCenter();
    }
}