@use "partials/variables" as v;
@use "partials/mixins" as m;

#marina {
    display: grid;
    grid-template-columns: 125px max-content;
    border: 5px solid #121212;
    width: fit-content;
    margin: 20px auto 0 auto;
}

#rotate-all {
    background-color: #9aa6b1;
    border-right: 1px solid black;
    @include m.flexCenter();

    > button {
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
        background: linear-gradient(to bottom, #f90, #e63900 100%);
        color: #fff;

        &:hover {
            background: linear-gradient(to bottom, #db6006, #ff4000 100%);
        }
    }
}

.battleship-tray {
    display: flex;
    gap: 1px;
    background-color: #121212;

    > div {
        padding: 10px;
        background-color: #247cff;
        display: flex;
        flex-direction: column;
    }
}

.ship-port {
    flex-grow: 1;
    min-height: calc(5 * var(--cell-length) + (5 - 1) * v.$ocean-grid-gap - 2px);
    @include m.flexCenter();
    @include m.portSizes();
}

.ship {
    background-color: #c4c4c4;
    display: flex;

    &--landscape {
        flex-direction: row;
        width: 100%;
        height: calc(var(--cell-length) - 2px);
    }

    &--portrait {
        flex-direction: column;
        width: calc(var(--cell-length) - 2px);
    }

    &__cell {
        flex-grow: 1;
    }
}

.rotate-one {
    padding-top: 10px;
    display: flex;
    justify-content: center;

    &__arrow {
        font-size: 2.2rem;
        cursor: pointer;
        background: radial-gradient(#ffbd5a, #f90 55%, #710101 100%);
        padding: 5px;
        border-radius: 50%;

        &:hover {
            filter: drop-shadow(3px 4px 2px black);
        }
    }
}