.alert-sunk, .alert-settings {
    &.swal2-title {
        font-size: 1.8rem;
    }
    &.swal2-styled.swal2-confirm {
        font-size: 1.4rem;
        font-weight: bold;
        background-color: #0073e6;
    }
}

.alert-sunk {
    &.swal2-popup {
        border: 2px solid #121212;
    }
}

.alert-settings {
    &.swal2-container {
        z-index: 2000;
    }
}