@use "partials/variables" as v;
@use "partials/animations" as a;

@include a.squishy();

.game-status {
    display: grid;
    justify-content: center;

    h3 {
        font-family: 'Lora', serif;
        font-weight: 700;
        font-size: 2.2rem;
        text-decoration: underline;
        text-align: center;
        margin: 20px auto 0 auto;
    }

    p {
        font-size: 1.8rem;
        font-family: 'Lora', serif;
    }

    &__gameover {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    &__last-turn {
        font-style: italic;
        display: inline-block;
    }

    .squishy-notify {
        animation: squishy 0.6s linear;
    }
}