@use "partials/variables" as v;
@use "partials/mixins" as m;
@use "partials/animations" as a;

@include a.animateMissile(miss, white);
@include a.animateMissile(hit, red);

#gameboard {
    margin: 0 20px;
    display: flex;
    gap: var(--cell-length);
    justify-content: center;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: auto auto;

    h2 {
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        text-align: center;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        font-size: 2.4rem;
        margin: 12px 0;
    }

    .column-labels, .row-labels {
        display: grid;
        gap: v.$ocean-grid-gap;
        text-align: center;
        font-size: 1.2rem;
    }

    .column-labels {
        grid-template-columns: repeat(9, 1fr);
    }

    .row-labels {
        grid-template-rows: repeat(9, 1fr);
        padding: 0 4px;
        align-items: center;
    }
}

#player-grid, #computer-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: v.$ocean-grid-gap;
    width: calc((9 * var(--cell-length)) + (8 * v.$ocean-grid-gap));
    height: calc((9 * var(--cell-length)) + (8 * v.$ocean-grid-gap));
    background-color: #005ce6;
    border: v.$ocean-grid-gap solid #005ce6;

    > div {
        background-color: rgba(0, 0, 0, 0.1);
        position: relative;
    }

    .miss, .hit {
        position: absolute;
        inset: 25%;
        border-radius: 50%;
        z-index: 2;
    }

    .miss {
        background-color: white;
        animation: missile-miss 0.8s ease-out;
    }

    .hit {
        background-color: red;
        animation: missile-hit 0.8s ease-out;
    }
}

.occupied {
    background-color: #c4c4c4;
    position: absolute;
    z-index: 1;
    display: flex;

    @include m.deployedShips();

    &__cell {
        flex-grow: 1;
    }
}