@use "partials/mixins" as m;

.modal {
    background-color: #f5f5f0;
    padding: 0 20px;
    font-size: 1.4rem;
    margin: 5vh auto;
    outline: 2px solid #121212;
    width: 600px;
    max-width: 90vw;
    display: grid;
    align-content: center;
    max-height: 90vh;
    grid-template-rows: auto 1fr auto;

    &__content-wrapper {
        overflow-y: auto;
        padding: 0 10px;
        background-color: white;
    }

    &__btn-wrapper {
        @include m.flexCenter();
        gap: 30px;
        margin: 10px 0;

        .modal-close-btn {
            background-color: #1e88e5;
            color: white;
            display: block;
            border: 2px solid #c4c4c4;
    
            &:hover {
                filter: invert(1);
            }
        }
    }

    h3 {
        text-align: center;
        font-size: 2.4rem;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        margin: 10px 0;
    }

    h4, h5 {
        margin-top: 10px;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    h4 {
        font-size: 1.6rem;
        text-decoration: underline;
    }

    h5 {
        font-size: 1.4rem;
    }

    p, ul {
        line-height: 1.5;
    }

    ul {
        padding-inline-start: 20px;
    }

    button {
        padding: 5px 8px;
        font-weight: bold;
        letter-spacing: 1px;
        cursor: pointer;
    }
}