@mixin settingsGrid($gap: 5px, $gtc: auto 1fr) {
    display: grid;
    grid-template-columns: $gtc;
    gap: $gap;
}

.game-settings {
    &__notifications {
        @include settingsGrid();
        align-items: center;
    }

    &__difficulty {
        @include settingsGrid(5px 10px, auto auto 1fr);
        margin: 10px 0;

        p {
            margin: 0;
            padding-left: 10px;
        }

        label {
            text-align: center;
            line-height: 1.5;
        }
    }

    &__version {
        margin: 10px 0;
        @include settingsGrid();
    }

    input[type=checkbox], input[type=radio] {
        width: 16px;
        aspect-ratio: 1;
    }
}

#btn-apply-settings {
    border: 2px solid #c4c4c4;
    background-color: #00994d;
    color: white;

    &:hover {
        background-color: #00d52b;
        color: black;
        border-color: rgb(58, 58, 58);
    }
}