:root {
  --cell-length: 30px;
}

html, body {
  width: 100%; 
  height: 100%;
  margin: 0;
  overflow: hidden;
}

html {
  font-size: 10px;
}

body {
  background-color: #f5f5f0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
}

h1 {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3rem;
  padding: 3px 6px 5px 6px;
  text-align: center;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin: 0 auto 12px auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
}

.ghost {
  opacity: 0;
}

.draggable {
  cursor: grab;
}

.no-scroll {
  touch-action: none;
}

@media screen and (min-height: 700px){
  :root {
    --cell-length: 35px;
  }

  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (orientation: portrait){
  main {
    width: 100vw;
    height: 100vh;
  }
}